

.section {
    text-align:center;
    font-size: 3em;
    color: white;
  }
  
  #menu li {
      display:inline-block;
      margin: 10px;
      color: #000;
      background:#fff;
      background: rgba(255,255,255, 0.5);
      -webkit-border-radius: 10px;
              border-radius: 10px;
  }
  #menu li.active{
      background:#666;
      background: rgba(0,0,0, 0.5);
      color: #fff;
  }
  #menu li a{
      text-decoration:none;
      color: black;
  }
  #menu li.active a:hover{
      color: white
  }
  #menu li:hover{
      background: black;
      a{
          color: white;
      }
  }
  #menu li a,
  #menu li.active a{
      padding: 9px 18px;
      display:block;
  }
  #menu li.active a{
      color: #fff;
  }
  #menu{
    display: flex;
    justify-content: space-between;
  }

  a{
    font-family: 'Cinzel', serif;
    font-weight: 400;
    font-size: 16px;
  }
  .firstSection{
      background-repeat: no-repeat;
      background-size: cover;
  }

  .test{
    background-color: white;
    z-index: 16;
    position: absolute;
    grid-area: 1/1/-1/1;
    grid-template-rows: 100%;
    grid-template-columns: 100%;
    width: 100%;
    transition: box-shadow .15s linear;
  }