/* You can add global styles to this file, and also import other style files */
@import '~fullpage.js/dist/fullpage.min.css';
@import "~bootstrap/dist/css/bootstrap.css";


* {
    font-family: 'Cinzel', serif;
 }
 html, body {
    margin:0px;
    height:100%;
    font-size: 1rem;
  }
